.topic {
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    
}

.cardImage {
    object-fit: cover;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
}